@model Article
@{
    ViewBag.Title = ViewBag.Des;
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page article-page">
    <div class="article-header">
        <h1>
            @*@Model.Title*@
        </h1>
    </div>

    <section class="section-video">
        <div class="container">
            <div>
                <video controls="controls">
                    <source src="~/Content/Video/SampleVideo_720x480_5mb.mp4" type="video/mp4" />

                </video>
                @*<div class="desc">
                    <h2>فیلم آموزشی @Model.Title</h2>
                    <p>
                      @Model.VideoDesc
                    </p>
                </div>*@
            </div>
        </div>
    </section>

    <article>
        <div class="des-post row">

            <div class="des-post-content des-page-content col-lg-12 col-sm-12 col-md-12 col-xs-12">
                @*<h2>@Model.Title</h2>*@
                <p>
                    @*@Model.Remark*@
                    <h1>گاز هاي مورد استفاده در یخچال سازي</h1>
                <p>
                    این گازها را گاز هاي مبرد یا سرما زا می نامند. گازهای مبرد را دانشمند بزرگ ایرنی ابن سینا اختراع کرد. در اوایل شروع صنعت <strong>یخچال</strong> سازی از گاز آمونیاک NH3 برای ساخت <strong>یخچال</strong> استفاده می شد اما این گاز سمی است و عوارض بسیار زیادی به خصوص برای چشم دارد. ترکیب گاز آمونیاک با رطوبت باعث خوردگی فلزاتی مانند مس و آلمینیوم می شود. همچنین خاصیت انفجاری و خطر خفگی برای انسان ها دارد. <br>
                    به همین دلایل گاز فریون 12 با فرمول مولکولی  CCl2F2جای گاز آمونیاک را گرفت. این گاز در ترکیب با هوا بی بو است و اثر تخریبی بر روی فلزات ندارد و سمی نیز نمی باشد. ولی از معایب آن می توان به دو مورد اشاره کرد، حجم زیادی نسبت به آمونیاک اشغال می کند و لایه ی اوزون را به گاز اکسیژن تبدیل می کند. گازهای جدید از گازی به نام A134 و مبرد هیدروکربن R600 حاصل آن می باشند.
                </p>
                <p>
                    در حال حاضر گاز مورد استفاده در <strong>یخچال</strong> سازي R134A مي باشد . فریون مخصوص <strong>كولر هاي گازي</strong> فریون 22( CHCLF2 ) است . از آنجا كه این فریون داراي هيدروژن است، اثر تخریبي آن در لایه اوزون به مراتب كمتر از فریون 11 و 12 است .  برخي از گاز هاي مبرد عبارتند از :<br>
                    •	آمونياكNH3   <br>
                    •	فریون 11 NFCL3 22  <br>
                    •	فریون CHCL2F21 21   <br>
                    •	فریون  CCL2F2 12  <br>
                    •	فریون CHCLF2   <br>
                    •	فریون 114  <br> C2CL2F2
                    •	انيدرید سولفورو SO2   <br>
                    •	متيل كلرید CH3CL    <br>
                    •	انيدریدكربنيك CO2   <br>
                    •	اتيل كلرید C2H5CL <br>
                </p>


                <div class="items-post">
                    <div>

                        <p>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </article>

</div>
