<section class="section-study">
    <div class="container">
        <div class="row ">
            <div class="mini-header">
                <span>مورد مطالعاتی</span>
            </div>
            <div class="section-header">
                <h2>
                    از بین بردن چالش های تعمیر لوازم خانگی شما هنر ماست
                </h2>
            </div>

            <div class="section-content">
                <div class="product-item">
                    <div class="grid">


                        <figure class="effect-slideleft one-half">
                            <img alt="تعمیر ظرفشویی" src="/Content/Images/Dishwasher-header.jpg" />
                            <figcaption>
                                <h2>
                                    <span>
                                        <strong>
                                            تعمیرات ظرفشویی
                                        </strong>
                                    </span>

                                </h2>
                                <p></p>
                                <a href="@Url.Action("Category","Content",new { area="",id=2,slug="تعمیر-ماشین-ظرفشویی"})" class="button">مشاهده</a>
                            </figcaption>
                        </figure>


                        <figure class="effect-slideleft one-half">
                            <img alt="تعمیر لباسشویی" src="/Content/Images/img-washing.jpg" />
                            <figcaption>
                                <h2>
                                    <span>
                                        <strong>
                                            تعمیرات لباسشویی
                                        </strong>
                                    </span>


                                </h2>
                                <p></p>
                                <a href="@Url.Action("Category","Content",new { area="",id=1,slug="تعمیر-ماشین-لباسشویی"})" class="button">مشاهده</a>
                            </figcaption>
                        </figure>


                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
