@model Request
@{
    ViewBag.Title = "مرکز تخصصی تعمیر لوازم خانگی در تهران";
    ViewBag.Des = "تعمیر لوازم خانگی،تعمیر لوازم خانگی در تهران،تعمیرات لوازم خانگی،آموزش تعمیرات لوازم خانگی،تعمیرلوازم خانگی،دینا سرویس";
    ViewBag.Key = "،تعمیر لازم خانگی در شرق تهران،تعمیر لوازم خانگی در شمال تهران،تعمیر لوازم خانگی در غرب تهران،دینا سرویس،تعمیر لوازم خانگی،تعمیر لوازم خانگی در تهران،تعمیر لوازم خانگی در محل،تعمیر لوازم خانگی ازران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container contact-form-box" id="register">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 head-center">
            <h2>
                ثبت درخواست
                <span>تعمیرات لوازم خانگی</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 contact-right-box">

            <div class="contact-right-box-head">
                <h6>چرا باید ما را انتخاب کنید؟</h6>
                <span>در امر تعمیر لوازم خانگی ،ما اطمینان و آرامش خاطر را به شما هدیه میدهیم :</span>
            </div>
            <ul class="contact-right-box-body">
                <li>
                    <div class="our-services-item">
                        <div>
                            <img src="/Content/Images/health.svg" alt="لوازم خانگی" />
                        </div>
                        <div class="our-services-item-text">
                            <label>از لوازم خانگی خود مواظبت کنید.</label>
                            <span>هزینه های خود را با روش نگهداری مناسب کاهش دهید</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="our-services-item">
                        <div>
                            <img src="/Content/Images/computer-network.svg" alt="شعبات دینا سرویس" />
                        </div>
                        <div class="our-services-item-text">
                            <label>
                                زمان را از دست ندهید.
                            </label>
                            <span>دینا سرویس با دارا بودن شعبات متعدد در سطح شهر در کمترین زمان در محل شما خواهد بود</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="our-services-item">
                        <div>
                            <img src="/Content/Images/telephone-operator.svg" alt="مشاوره تعمیر لوازم خانگی" />
                        </div>
                        <div class="our-services-item-text">
                            <label>
                                مشاوره 24 ساعته
                            </label>
                            <span>مشاوران دینا سرویس در هر ساعت از شبانه روز آماده ی خدمت رسانی و ارائه مشاوره های تخصصی به شما مردم عزیز خواهد بود</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        @using (Html.BeginForm("RegisterRequest", "Home", null))
        {
            <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                <div class="contact-form">
                    <div class="item-contact-form">
                        <span>* نام و نام خانوادگی </span>
                        <input type="text" name="name" value="" placeholder="نمونه: سید علی میرزایی" />
                    </div>
                    <div class="item-contact-form">
                        <span> * آدرس </span>
                        <input type="text" name="name" value="" placeholder="" />
                    </div>
                    <div class="item-contact-form">
                        <span>* پرس و جو شما در مورد چیست؟ </span>
                        <select asp-items="@ViewBag.ViewBag.AppType"></select>
                    </div>
                    <div class="item-contact-form">
                        <span>* شماره تماس </span>
                        <input type="text" name="name" value="" placeholder="+98 21 xxxx xxxx" />
                    </div>
                    <div class="item-contact-form">

                        <input type="submit" name="name" value="یک مشاوره رایگان دریافت کنید" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
