<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dinaservice Login</title>

    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/favicon.ico" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" sizes="32x32" href="~/favicon-32x32.png" />
    <link rel="icon" type="image/x-icon" sizes="96x96" href="~/favicon-96x96.png" />
    <link href="/author/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/author/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/panel.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary">
    <div class="container">

        @RenderBody()


    </div>
    @await Component.InvokeAsync("ShowMessageComponent")

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
