<section class="section-services">
    <div class="container">
        <div class="row">
            <div class="mini-header">
                <span>چه کاری انجام می دهیم</span>
            </div>
            <div class="section-header">
                <h1>تعمیر لوازم خانگی خود را به متخصصان ما بسپارید</h1>
            </div>
            <div class="section-header-content">
                <span></span>
            </div>
            <div class="section-content">

                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                    <div class="service-item">

                        <ul>
                            <li>
                                <img src="/Content/Images/washing-machine.png" alt="تعمیر لباس شویی -تعمیر ظرف شویی" />

                            </li>
                            <li>
                                <span>
                                    <strong>تعمیر لباس شویی و ظرف شویی</strong>
                                </span>
                            </li>
                            <li>
                                <a href="#main-content">بیشتر بخوانید</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                    <div class="service-item">

                        <ul>
                            <li>
                                <img src="/Content/Images/vacuum-cleaner.png" alt="تعمیر جارو برقی -تعمیر مایکروفر" />
                            </li>
                            <li>
                                <span>
                                    <strong>تعمیر جارو برقی و مایکروفر</strong>
                                </span>
                            </li>
                            <li>
                                <a href="#">بیشتر بخوانید</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                    <div class="service-item">

                        <ul>
                            <li>
                                <img src="/Content/Images/refrigerator.png" alt="تعمیر یخچال -تعمیر کولر" />
                            </li>
                            <li>
                                <span>
                                    <strong>
                                        تعمیر یخچال و کولر
                                    </strong>
                                </span>
                            </li>
                            <li>
                                <a href="#">بیشتر بخوانید</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                    <div class="service-item">

                        <ul>
                            <li>
                                <img src="/Content/Images/mixer.png" alt="تعمیر لوازم ریز آشپزخانه" />
                            </li>
                            <li>
                                <span>
                                    <strong>
                                        تعمیر لوازم ریز آشپزخانه
                                    </strong>
                                </span>
                            </li>
                            <li>
                                <a href="#">بیشتر بخوانید</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                    <div class="service-item">

                        <ul>
                            <li>
                                <img src="/Content/Images/messaging-app.png" alt="خدمات مشاوره تعمیر لوازم خانگی" />
                            </li>
                            <li>
                                <span>
                                    <strong>خدمات مشاوره</strong>
                                </span>
                            </li>
                            <li>
                                <a target="_blank" href="http://dinaservice.com">بیشتر بخوانید</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
