<section class="section-info">



    <ul class="main-items-list-info">
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <label>نگرانی های خود را درباره ی تعمیر لوازم خانگی متوقف کنید؟</label>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <span>آیا در تعمیر و نگهداری لوازم خانگی خود مشکل دارید؟ آیا از تامین هزینه های بالای تعمیر لوازم خانگی خسته شده اید؟ آیا به دلیل خرابی لوازم خانگی قصد تعویض آنها را دارید؟ دیگر نیاز به تعویض لوازم خانگی خود و یا صرف هزینه های بالا برای تعمیرلوازم خانگی خود ندارید ، کافیست با دینا سرویس و متخصصان ما در تماس باشید </span>



                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <label>بر روی نگهداری از لوازم خانگی خود متمرکز شوید!</label>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <span>شاید زمان آن رسیده است که با تماس با مشاوران و متخصصان دینا سرویس نحوه ی نگهداری از لوازم خانگی خود را بپرسید،درست است که استفاده از لوازم خانگی، زندگی ما را بسیار ساده تر کرده است، اما باید این را هم در نظر گرفت که استفاده نامناسب و بدون مراقبت از آنها می تواند باعث سخت تر شدن روند زندگی گردد</span>



                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <label>ما مواظب لوازم خانگی شما هستیم!</label>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                        <span>متخصصان و تعمیرکاران لوازم خانگی دینا سرویس ، با بهره مندی از ابزارآلات و تجهیزات پیشرفته و تجارب بالای خود در کمترین  زمان  و نازل ترین قیمت ها در محل شما اقدام به تعمیر لوازم خانگی شما و ارائه مشاوره های تخصصی جهت نگهداری از لوازم خانگی مینمایند . کافیست با ما تماس بگیرید</span>



                    </div>
                </div>
            </div>
        </li>
    </ul>

</section>
