<section class="section-info-company">
    <div class="container">
        <div class="mini-header">
            @*<span>همکاران</span>*@
        </div>
        <div class="section-header">
            <h1>برند های لوازم خانگی</h1>
        </div>
        <div class="section-header-content">
            <span>
                دینا سرویس با دارا بودن مجرب ترین متخصصین در امر تعمیر لوازم خانگی ، اقدام به ارائه خدمت در زمینه ی نگهداری و تعمیر لوازم خانگی برند های ایرانی ، اروپایی ، آسیایی و آمریکایی می نماید
            </span>
        </div>
    </div>
    <div class="container">
        <div class="section-content">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="/Content/Images/Companys-logo/AEG.png" alt="تعمیر لوازم خانگی AEG" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/Bloomberg.png" alt="تعمیر لوازم خانگی بلومبرگ" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/General.png" alt="تعمیر لوازم خانگی جنرال" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/siemens.png" alt="تعمیر لوازم خانگی زیمنس" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/Frigidaire.png" alt="تعمیر لوازم خانگی Frigidaire " />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/bosch-logo-png-transparent.png" alt="تعمیر لوازم خانگی بوش" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/admiral-16-logo-png-transparent.png" alt="تعمیر لوازم خانگی ادمیرال" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/mabe.png" alt="تعمیر لوازم خانگی وستینگ مابه" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/westinghouse-electric-logo.png" alt="تعمیر لوازم خانگی وستینگ هاوز" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/westport.png" alt="تعمیر لوازم خانگی وست پورت" />
                </div>
                <div class="item">
                    <img src="/Content/Images/Companys-logo/Whirlpool.png" alt="تعمیر لوازم خانگی وایرپول" />
                </div>
                <div class="item">
                    <img src="..//Content/Images/Companys-logo/c1.svg" alt="تعمیر لوازم خانگی c1" />
                </div>

            </div>
        </div>
    </div>
    @*<div class="branch-map">
            <div class="container">
                <div class="loaction-branch detail-box">
                    <div class="dots-animation"></div>
                    <div class="loaction-branch-img">
                        <img src="~//Content/Images/Companys-logo/bosch-logo-png-transparent.png" alt="تعمیر لوازم خانگی بوش" />
                    </div>
                    <div class="loaction-branch-text detail-box-text">
                        <span>بوش</span>
                    </div>
                </div>




                <div class="loaction-branch loaction-branch-2 detail-box">

                    <div class="dots-animation"></div>
                    <div class="loaction-branch-img ">
                        <img src="~//Content/Images/Companys-logo/Bloomberg.png" alt="تعمیر لوازم خانگی بولمبرگ" />
                    </div>
                    <div class="loaction-branch-text detail-box-text">
                        <span>سامسونگ</span>
                    </div>
                </div>
                <img src="..//Content/Images/map-1.svg" alt="نقشه جهان" />
            </div>

        </div>*@

</section>
