@{
    ViewBag.Title = "مقالات آموزشی تعمیر لوازم خانگی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="article-list-page ">


    <h1>تعمیر و نگهداری لوازم خانگی</h1>

    <div class="container">
        <div class="row">


            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>گاز هاي مورد استفاده در یخچال سازی</h3>
                    <p>
                        این گازها را گاز هاي مبرد یا سرما زا می نامند. گازهای مبرد را دانشمند بزرگ ایرنی ابن سینا اختراع کرد. در اوایل شروع صنعت <strong>یخچال</strong> سازی از گاز آمونیاک NH3 برای ساخت <strong>یخچال</strong> استفاده می شد اما این گاز سمی است و عوارض بسیار زیادی به خصوص برای چشم دارد. ترکیب گاز آمونیاک با رطوبت باعث خوردگی فلزاتی مانند مس و آلمینیوم می شود. همچنین خاصیت انفجاری و خطر خفگی برای انسان ها دارد. <br>
                        به همین دلایل گاز فریون 12 با فرمول مولکولی  CCl2F2جای گاز آمونیاک را گرفت. این گاز در ترکیب با هوا بی بو است و اثر تخریبی بر روی فلزات ندارد و سمی نیز نمی باشد. ولی از معایب آن می توان به دو مورد اشاره کرد، حجم زیادی نسبت به آمونیاک اشغال می کند و لایه ی اوزون را به گاز اکسیژن تبدیل می کند. گازهای جدید از گازی به نام A134 و مبرد هیدروکربن R600 حاصل آن می باشند.
                    </p>
                    <a href="/گازهاي-مورد-استفاده-در-یخچال-سازی/تعمیر-یخچال" class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>


            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>تعمیر برد یخچال</h3>
                    <p>
                        در زیر عکسی از مدار الکتریکی <strong>یخچال</strong> را مشاهده می کنید.
                    </p>
                    <a href="/تعمیر-برد-یخچال/تعمیر-یخچال" class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>عیب یابی و تعمیر یخچال</h3>
                    <p>
                        همانطور که میدانید مهمترین بخش تعمیر برای<strong> یخچال</strong> و یا برای هر وسیله ی دیگری عیب یابی آن است. زمانی که بدانیم عیب از کجاست با سرعت بیشتری می توانیم آن را حل کنیم و رضایت مشتری را به دست بیاوریم. در زیر به عیب های رایج <strong> یخچال</strong> و دلایل احتمالی و رفع عیب آن می پردازیم. که در برخی از موارد افراد بدون نیاز به تعمیر کار می توانند خودشان مشکل <strong> یخچال</strong> را برطرف کنند.
                    </p>
                    <a href="/عیب-یابی-و-تعمیر-یخچال/تعمیر-یخچال" class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>

        </div>
    </div>
</div>
