@model Article
@{
    ViewBag.Title = "تعمیر یخچال،تعمیریخچال فریزر،تعمیر لوازم خانگی";
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page article-page">
    <article class="des-article">

        <div class="article-header">
            <h1>
                گاز هاي مورد استفاده در یخچال سازی
            </h1>
        </div>

        <div class="des-post row">

            <div class="des-post-content-article des-page-content col-lg-12 col-sm-12 col-md-12 col-xs-12">

                <p>
                    این گازها را گاز هاي مبرد یا سرما زا می نامند. گازهای مبرد را دانشمند بزرگ ایرنی ابن سینا اختراع کرد. در اوایل شروع صنعت <strong>یخچال</strong> سازی از گاز آمونیاک NH3 برای ساخت <strong>یخچال</strong> استفاده می شد اما این گاز سمی است و عوارض بسیار زیادی به خصوص برای چشم دارد. ترکیب گاز آمونیاک با رطوبت باعث خوردگی فلزاتی مانند مس و آلمینیوم می شود. همچنین خاصیت انفجاری و خطر خفگی برای انسان ها دارد. <br>
                    به همین دلایل گاز فریون 12 با فرمول مولکولی  CCl2F2جای گاز آمونیاک را گرفت. این گاز در ترکیب با هوا بی بو است و اثر تخریبی بر روی فلزات ندارد و سمی نیز نمی باشد. ولی از معایب آن می توان به دو مورد اشاره کرد، حجم زیادی نسبت به آمونیاک اشغال می کند و لایه ی اوزون را به گاز اکسیژن تبدیل می کند. گازهای جدید از گازی به نام A134 و مبرد هیدروکربن R600 حاصل آن می باشند.
                </p>
                <p>
                    در حال حاضر گاز مورد استفاده در <strong>یخچال</strong> سازي R134A مي باشد . فریون مخصوص <strong>كولر هاي گازي</strong> فریون 22( CHCLF2 ) است . از آنجا كه این فریون داراي هيدروژن است، اثر تخریبي آن در لایه اوزون به مراتب كمتر از فریون 11 و 12 است .  برخي از گاز هاي مبرد عبارتند از :<br>
                    •	آمونياكNH3   <br>
                    •	فریون 11 NFCL3 22  <br>
                    •	فریون CHCL2F21 21   <br>
                    •	فریون  CCL2F2 12  <br>
                    •	فریون CHCLF2   <br>
                    •	فریون 114  <br> C2CL2F2
                    •	انيدرید سولفورو SO2   <br>
                    •	متيل كلرید CH3CL    <br>
                    •	انيدریدكربنيك CO2   <br>
                    •	اتيل كلرید C2H5CL <br>
                </p>

                <img src="~/ArticlesFiles/ArticleOne/ArticleOne.jpg" alt="تعمیر یخچال" />
                <h2>توليد سرما در یخچال </h2>
                <p>
                    در توليد سرما از دو ویژگي مهم گازها استفاده مي شود:
                    1.	گازها با فشار زیاد به حالت مایع در می آیند و با تغيير حالت، درجه حرارت گاز افزایش مي یابد.
                </p>
                <p>
                    2.	زمانی که گاز مایع در محیطی بزرگتر از محیط قبل قرار می گیرد فوران می کند و دمای آن به مقدار زیادی کم شده و تبخیر می شود. پس به عنوان یک سرما ساز در  <strong> یخچال</strong> مورد استفاده اند. زمانی که کمپرسور پیستون شروع به کار می کند، گاز از طریق مکیده شدن توسط پیستون لوله برگشت با فشار وارد لوله ی رفت می شود. <br>
                    فشار وارده بر گاز، حرارتش را افزایش مي دهد. به منظور كاستن از حرارت گاز آن را وارد رادیاتور مي كنند و در آن جا مقداري از حرارت گاز كاسته مي شود. همانطور که قبلا نیز گفتیم گاز از درایر عبور کرده و کامل خشک می شود و سپس با عبور از لوله مویی به حالت مایع در می آید و حرارتش افزایش می یابد. با ورود به اواپراور وارد سطح بزرگتری شده  و شروع به فوران می کند و تولید سرما می کند. <br>
                    در نهایت خروجی اواپراتور به وسیله ی لوله ی آهنی یا مسی به لوله برگشت <strong>یخچال</strong> مي رسد و این چرخه بازهم تکرار می شود. براثر افزایش فشار در لوله مویی حرارات گاز افزایش پیدا می کند پس باید به طریقی این گرما را از گاز بگیریم. برای این منظور به طور معمول لوله ی برگشت اواپراتور که حاوی گاز سرد است را به لوله رفت جوش می دهند تا گاز گرم لوله مویی در حرکت به طرف اواپراتور در مجاورت برگشت گاز سرد از اواپراتور سرد شود. بعضی از کارخانه ها لوله مویی را از درون لوله ی برگشت عبور میدهند و به اواپراتور می رسانند به این دو طریق گاز مایع قبل از آنکه به اواپراتور برسد سرد می شود و بهترین بهره وری را داشته باشد. <br>
                    زمانی که سرمای اواپراتور با ترموستات برابر شود بر اثر منقبض شدن فانوسک داخل ترموستات کمپرسور قطع می شود. دماي اواپریتور در حدود 15 درجه زیرصفر، محفظه <strong> یخچال</strong> معمولا بين 1 الي 7 درجه سانتي گراد می باشد.
                </p>
                <h3>دیفراست</h3>
                <p>
                    دیفراست به معنی برفک زدا می باشد. زمانی که درب <strong> یخچال</strong> را باز می کنیم هوای گرم وارد<strong> یخچال</strong> می شود. این گرما بر روی اواپراتور قطرات آب بوجود می آورد و این قطره ها به یخ یا همان برفک تبدیل می شوند. زمانی که این برفک ها زیاد شوند سرما سازی به درستی انجام نمی شود. پس باید هر زمان که مقدار آن بیشتر از حد نرمال شد آن برفک ها را آب کنیم که در برخی از یخچال ها برای این منظور هیچ راه کاری وجود ندارد و خودمان باید با روش های مختلف اقدام به آب کردن آنها کنیم و در برخی از یخچال ها تدبیری اندیشیده شده که در ادامه به برسی هر دوی آنها می پردازیم. <br>

                    راهکار اول، با قطع برق و باز گذاشتن درب <strong> یخچال</strong>. راهکار دوم پیچیدن سیم المنت به دور اواپراتور است. هرگاه ذوب برفک به نظر ضروری آمد با قرار دادن ترموستات در وضعیت ذوب برفک، المنت تولید گرما می کند و برفک ها را از بین می برد و در نهایت دیفراست گازی رایج ترین شکل ذوب برفک است. برای این منظور از شیر الکتریکی یا همان شير سولنوئيدی استفاده می شود که دارای دو ورودی و یک خروجی است.
                </p>
                <p>
                    یکی از ورودی ها در حالت نرمال بسته است اما زمانی که شیر الکتریکی را به برق متصل می کنیم آن ورودی نیز باز می شود و گاز گرم به سمت خروجی حرکت می کند و وارد اواپراتور میشود و گرمای موجود برفک های بوجود آمده را آب می کند. زمانی که شیر الکتریکی به برق متصل نباشد گاز سرد از یک ورودی دیگر وارد می شود و آن نیز به سمت خروجی حرکت می کند و وارد اواپراتور می شود و عمل سرما سازی را انجام می دهد. پس از اتمام کار یک ترموستات دوباره شير سولنوئيدي را به همان حالت قطع بر می گرداند

                    در شكل بالا همين مكانيسم به توسط شير سولنوئيدي با یك ورودي و یك خروجي دیده مي شود.  البته اشكال دیگري از ذوب برفك نيز بكار گرفته شده كه امروزه كاربرد كمتري دارد. به عنوان مثال مي توان نوع دیفراست با شمارش دفعات باز و بسته شدن درب <strong> یخچال</strong> را نام برد. با قرار دادن كليد مخصوص شمارش زیر درب <strong> یخچال</strong>، تعداد دفعات باز و بسته شدن درب شمارش شده و به محض رسيدن تعداد آن به عدد تنظيمي كليد، مدار <strong> یخچال</strong> براي مدتي قطع مي شود. در زمان توقف كمپرسور، بر اثر افزایش دماي محيط <strong> یخچال</strong> برفك ها ذوب مي شوند. و یا مي توان به روش استفاده از تایمر اشاره نمود در این روش پس از زمان معيني تایمر مخصوص عمل نموده و مدار را قطع مي سازد. در بعضي از انواع <strong> یخچال</strong>، تایمر به محض قطع مدار اصلي، مدار المنت پيچيده شده بدور اواپریتور را برقرار نموده تا عمل ذوب برفك با سرعت بيشتري انجام شود.
                </p>

                <div class="items-post">
                    <div>

                        <p>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </article>

</div>
