@model Article
@{
    ViewBag.Title = "تعمیر یخچال،تعمیریخچال فریزر،تعمیر لوازم خانگی";
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page article-page">
    <article>

        <div class="article-header">
            <h1>تعمیر برد یخچال</h1>
        </div>

        <div class="des-post row">

            <div class="des-post-content-article des-page-content col-lg-12 col-sm-12 col-md-12 col-xs-12">

                <p>
                    در زیر عکسی از مدار الکتریکی <strong>یخچال</strong> را مشاهده می کنید.
                </p>
                <img src="~/ArticlesFiles/ArticleTow/1.jpg" width="400" alt="تعمیر مدار یخچال" />


                <div class="items-post">
                    <div>
                        <p>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </article>

</div>
