@model Article
@{
    ViewBag.Title = "تعمیر یخچال،تعمیریخچال فریزر،تعمیر لوازم خانگی";
    ViewBag.Des = $"تعمیر لوازم خانگی،تعمیر لباسشویی،تعمیر ماشین لباسشویی،تعمیر ماشین ظرفشویی،تعمیر ماشین لباسشویی در تهران، تعمیر ماشین ظرفشویی درتهران،تعمیر لوازم خانگی {ViewBag.Brand}";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-page article-page">
    <article class="des-article">

        <div class="article-header">
            <h1>عيب یابي و تعمير یخچال</h1>
        </div>

        <div class="des-post row">

            <div class="des-post-content-article des-page-content col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <p>
                    همانطور که میدانید مهمترین بخش تعمیر برای<strong> یخچال</strong> و یا برای هر وسیله ی دیگری عیب یابی آن است. زمانی که بدانیم عیب از کجاست با سرعت بیشتری می توانیم آن را حل کنیم و رضایت مشتری را به دست بیاوریم. در زیر به عیب های رایج <strong> یخچال</strong> و دلایل احتمالی و رفع عیب آن می پردازیم. که در برخی از موارد افراد بدون نیاز به تعمیر کار می توانند خودشان مشکل <strong> یخچال</strong> را برطرف کنند.
                </p>
                <h2>یخچال روشن نمي شود</h2>
                <p>
                    عیب 1 <br />
                    علت :  <br>
                    پریز برق ندارد ، دوشاخه یا سيم رابط معيوب است. <br>
                    تعمیر : <br>
                    ابتدا چک می کنیم که پریز برق دارد یا خیر سپس به وسیله ی یک سیم، دو شاخه <strong>یخچال</strong> را به یکدیگر وصل می کنیم، ورودی کابل را از مدار  <strong>یخچال</strong> باز می کنیم سپس آوامتر را وصل می کنیم. در صورتی که عقربه ی آن منحرف نشود یعنی برق را از خود عبور نمی دهد و سیم رابط و دو شاخه را تعویض می کنیم.
                </p>

                <img src="~/ArticlesFiles/ArticleThree/1.jpg" width="400" alt="تعمیر یخچال" />

                <p>
                    عيب 2<br>
                    علت : <br>
                    ترموستات معيوب است. <br>
                    تعمیر: <br>
                    زمانی که به برسی دقیق مدار الکتریکی<strong>یخچال</strong> بپردازیم متوجه خواهیم شد که زمانی که کلید ترموستات خراب باشد، کمپرسور نمی تواند حرکت کند زیرا ترموستات فاز ورودی به موتور <strong>یخچال</strong> را هدایت می کند. <br>
                    برای اطمینان از اینکه مشکل از ترموستات است ورودی و خروجی ترموستات را از آن جدا می کنیم، رابط های اهم متر را به آن متصل می کنیم و به سمت چپ و راست می چرخانیم در واقع با این کار ترموستات را قطع و وصل می کنیم و می توان صدای آن را نیز شنید. <br>
                    اگر کلید عقربه به طرف صفر به حرکت در بیاید و با قطع کلید به طرف بی نهایت برگردد ترموستات ایرادی ندارد، اگر این اتفاق نیافتد ترموستات را از بدنه <strong>یخچال</strong> خارج می کنیم و قاب آن را باز می کنیم و کلید آن را با دقت و ظرافت تعمیر می کنیم و اگر تعمیر نشد آن را تعویض می کنیم.

                </p>
                <img src="~/ArticlesFiles/ArticleThree/2.jpg" width="400" alt="تعمیر یخچال" />
                <p>
                    تذكر :
                    در هر دو صورت په مجبور باشید ترموستات را از از <strong>یخچال</strong> بیرون بیاوریم چه مبور باشیم در حالت متصل به از <strong>یخچال</strong>  روی آن کار انجام دهیم، باید دقت کنیم چون که اعمال فشار نامناسب روی ترموستات ممکن است به لوله مویی یا لوله بلو آسیب برسانیم و گاز داخل ترموستات خالی بشود.

                </p>

                <p>
                    عيب 3<br>
                    علت : <br>
                    اورلود معيوب است. <br>
                    تعمیر: <br>
                    اگر اورلود خراب باشد کمپرسور روشن نمی شود به دلیل این که معمولا جای اورلود سر راه نول مشترک کمپرسور است. <br>
                    دوشاخه را از پریز جدا می کنیم و به وسیله ی اهم متر اتصال پلاتین های اولود را مورد برسی قرار می دهیم، زیرا اگر پلاتین ها در حالت عادی متصل نباشند به موتور الکتریکی کمپرسور ولتاژ نمی رسد. اگر پلاتين ها به یكدیگر متصل نباشند باید اورلود را با نوع مشابه خودش تعویض کنیم. برای فهمیدن جریان نامی اورلود کدی که روی آن درج شده است را را بررسی می کنیم. اگر هنگام تعویض به جریان نامی توجه نکنیم مدار الکتریکی موتور را دچار مشکل می کند.

                </p>

                <p>
                    عيب 4<br>
                    علت : <br>
                    سيم هاي رابط از مجموعه سيم بندي مدار جدا شده اند. <br>
                    تعمیر : <br>
                    زمانی که اصال قطعاتی مثل ترموستات، موتور جداشونده و یا اورلود  و یا سیم های اصلی فاز و نول مدار آسیب دیده و پاره شوند واضح است که <strong>یخچال</strong>  روشن نخواهد شد. به دقت سیم بندی را بررسی کنید و در صورت مشاهده ی قطعی و پارگی در سیم آن را تعویض و یا تعمیر کنید تا <strong>یخچال</strong>  دوباره شروع به کار کند.

                </p>

                <p>
                    عیب 5 <br />
                    علت : <br>
                    لوله بلو از جاي خود خارج شده است. <br>
                    <br>
                    قرار گرفتن درست لوله بلو در بدنه ی اواپراتور بسیار اهمیت دارد. اگر به هر دلیلی لوله بلو از بدنه اواچراتور جدا شود اتومات یا به طور کلی قطع می شود و یا بسیار با تاخیر انجام می شود. لوله بلو بسیار حساس است در صورتی که با چنین موردی برخوردید لوله بلو را به آرامی در جایگاه درستش مستقر کنید.

                </p>

                <p>
                    عیب 6 <br />
                    علت : <br>
                    كنتاكت هاي ترموستات به یكدیگر جوش خورده اند. <br>
                    تعمیر : <br>
                    ممکن است بر اثر کار مداوم سطح پلاتین های كليد ترموستات فرسوده شود و به طور دائم به هم متصل شوند. برای این که متوجه شویم که چنین مشکلی وجود دارد یا خیر زمانی که <strong>یخچال</strong> روشن است، باید ولوم ترموستات را به طرف صفر یا خلاف عقربه های ساعت بچرخانیم اگر <strong>یخچال</strong> خاموش شد ترموستات سالم است در غیر این صورت پلاتین ها به هم چسبیده اند. <br>
                    •	ترموستات را از بدنه <strong>یخچال</strong> جدا می کنیم. <br>
                    •	 قاب آن را باز می کنیم. <br>
                    •	 کنتاکت های کلید را از هم جدا می کنیم. <br>
                    •	 سمباده کشی می کنیم. <br>
                    •	 کلید را به وسیله ی اهم متر تست می کنیم. <br>
                    •	 ولوم را به طرفین حرکت می دهیم و با اهم متر وصل بودن آن را برسی می کنیم. <br>
                    •	در صورت وصل بودن با دقت و بی آنکه به لوله مویی آسیب برسد، آن را به محل استقرارش بر می گردانیم. <br>
                    نکته : در بعضي از ترموستات ها دسترسي به كليد دشوار و یا غير ممكن است، اینگونه ترموستات ها را اجبارا تعویض مي كنيم.

                </p>
                <p>
                    عیب 7 <br />
                    علت : <br>
                    مقدار برفك در اواپراتور بسيار زیاد است. <br>
                    تعمیر : <br>
                    همانطور که در مقاله های قبلی گفته شد به وجود آمدن برفک و زیاد شدن آن سرما سازی اواپراتور را دچار اختلال می کند و عمل اتومات قطع می شود یا با تاخیر انجام می شود. در مقاله های قبلی تمام راه حل ها را به تفضیل بیان کردیم اما بازهم به آن ها اشاره می کنیم. اگر <strong>یخچال</strong> دارای دیفراست باشد آن را روشن می کنیم و اگر نداشته باشد برق <strong>یخچال</strong> را قطع می کنیم و درب آن را برای مدتی باز می گذاریم.

                </p>
                <p>
                    عیب 8 <br />
                    علت : <br>
                    سيم بندي <strong>یخچال</strong> اشتباه است. <br>
                    تعمیر : <br>
                    اگر این عیب بعد از سیم بندی <strong>یخچال</strong> اتفاق بیافتد ممکن است در سیم بندی اشباه کرده باشید، دوباره به دقت سیم بندی را بررسی کنید.

                </p>
                <p>
                    عیب 9 <br />
                    با وجود عملكرد صحيح كمپرسور، اواپریتور دائما خيس بوده و قطرات آب از آن چكه مي كند. <br>
                    علت : <br>
                    درجه ی مناسب برای ترموستات انتخاب نشده است. <br>
                    تعمیر : <br>
                    اگر ترموستات روی درجه ی کم تنظیم شده باشد نمی تواند پاسخگوی نیاز <strong>یخچال</strong> باشد و پرواضح است که باید ولوم ترموستات را در جهت عقربه های ساعت حرکت دهیم و به این طریق سرماسازی <strong>یخچال</strong> را افزایش دهیم.

                </p>
                <p>
                    عیب 10 <br />
                    با وجود عملكرد صحيح كمپرسور، اواپریتور دائما خيس بوده و قطرات آب از آن چكه مي كند.
                    علت : <br>
                    ترموستات تنظيم نيست. <br>
                    تعمیر : <br>
                    ممکن است به دلیل ضعیف شدن فنر زیر اهرم کلید و یا تنظیم نامناسب، مدت زمان توقف ترموستات زیاد شود. که طبعا دمای اواپراتور افزایش پیدا می کند و ذوب برفک ها ریزش قطرات آب مشاهده می شود. برای رفع این مشکل نیاز به یک تعمیرکار مجرب است تا با حرکت ملایم پیچ تنظیم را در هت عقربه های ساعت حرکت دهد و مدت زمان توقف ترموستات کاهش یابد.

                </p>
                <p>
                    عیب 11 <br />
                    با وجود عملكرد صحيح كمپرسور، اواپریتور دائما خيس بوده و قطرات آب از آن چكه مي كند. <br>
                    علت : <br>
                    دیفراست به طور دائم در مدار است. <br>
                    تعمیر : <br>
                    به دقت بررسی کنید که دیفراست دارای عملکرد صحیح است یا خیر، زیرا ممکن است به دلیل بروز مشکل در ترموستات دیفراست، شیر سولنوئیدی مدام عمل کند. در نتیجه گاز به اواپراتور وارد شده و یخ و برفک ها ذوب می شوند.
                </p>
                <p>
                    عیب 12 <br />
                    اواپراتور در فاصله زمانی کوتاه، پر از برفک می شود <br>
                    علت : <br>
                    پلاستيك دور درب خراب است. <br>
                    تعمیر : <br>
                    اگر پلاستيك دور درب خراب شود یعنی ضخامتش کم بشود باید آن را تعویض کنیم، زیرا بين درب و شاسي <strong>یخچال</strong> فاصله ایجاد می شود در نتیجه هواي گرم درون <strong>یخچال</strong> راه پیدا می کند. هواي سرد در برخورد با هواي گرم به صورت قطرات آب در آمده و مجددا یخ مي بندد به این ترتيب درون <strong>یخچال</strong> توده هاي یخ و برفك شكل مي گيرند.
                </p>

                <p>
                    عیب 13 <br />
                    اواپراتور در فاصله زمانی کوتاه، پر از برفک می شود  <br>
                    علت : <br>
                    غذا بصورت گرم در <strong>یخچال</strong> قرار داده مي شود. <br>
                    راهکار : <br>
                    زمانی که غذاي گرم درون <strong>یخچال</strong> قرار می دهیم یعنی هوای گرم وارد یخچال شده است و همانطور که در مورد قبلی گفیم موجب بوجود آمدن قطرات آب و یخ زدن آنها می شود در نتیجه همیشه دمای غذا را در بیرون از <strong>یخچال</strong> به اندازه ی کافی پایین بیاورید و بعد درون <strong>یخچال</strong> قرار دهید.
                </p>

                <p>
                    عیب 14 <br />
                    اواپراتور در فاصله زمانی کوتاه، پر از برفک می شود <br>
                    علت : <br>
                    دیفراست اتوماتيك دچار مشكل شده است. <br>
                    تعمیر : <br>
                    گفته بودیم که سيستم ذوب برفك در بعضي از انواع <strong>یخچال</strong> توسط تایمر، در بعضی توسط شمارنده و در برخی دیگر توسط اتومات مخصوص دیفراست انجام می شود. در میان انواع مختلف <strong>یخچال</strong>  این مدل آخر  به برفك بسيار حساس است و در صورت از كار افتادن سيستم به سرعت دچار مشكل مي شوند که معمولي ترین مشكل می تواند عدم اتومات <strong>یخچال</strong> باشد.
                    در این مورد باید سيستم دیفراست <strong>یخچال</strong> را بررسي کنیم و عضو معيوب را تعویض و در صورت امکان تعمير نماییم.
                </p>
                <p>
                    عیب 15 <br />
                    كمپرسور <strong>یخچال</strong> بدون توقف در حال كار است اما اتومات نمي كند و در <strong>یخچال</strong> سرما وجود ندارد. <br>
                    علت : <br>
                    گاز <strong>یخچال</strong> تخلیه شده است. <br>
                    تعمیر : <br>
                    باید <strong>یخچال</strong> به تعميرگاه انتقال داده شود، سوراخ ایجاد شده در کندانسور یا اواپراتور را بیابید. باید محل آسیب دیده را با مهارت جوشکاری کنید و سپس <strong>یخچال</strong> را تحت فشار هوا قرار دهید که این کار یک تعمیرکار مجرب است. بعد از اعمال فشار به <strong>یخچال</strong> باید تست کف و صابون انجام دهیم و اگر نشتی دیده نشد ابتدا به وسیله ی وکیوم پمپ لوله ها را از وجود هوا خالی می کنیم و سپس به آرامی گاز را درون لوله ها تزریق می کنند.
                    بعد از تمام شدن شارژ گاز، دوباره لوله کور را مسدود کرده و جوشکاری می کنیم تا از خروج گاز از داخل <strong>یخچال</strong> جلوگیری کنیم. لطفا به هیچ وجه خودتان این کارها را انجام ندهید. عملیات تخلیه و شارژ گاز، ترمیم نقطه ی آسیب دیده باید توسط یک تعمیرکار مجرب انجام شود.
                </p>
                <p>
                    عیب 16 <br />
                    عيب16- كمپرسور <strong>یخچال</strong> بي وقفه در حال كار است اما اتومات نمي كند و در <strong>یخچال</strong> سرما وجود ندارد.
                    علت : <br>
                    گاز <strong>یخچال</strong> كم است. <br>
                    تعمیر : <br>
                    اگر شارژ گاز به اندازه كافي نباشد ، سرماي ایجاد شده در اواپریتور و كابينت <strong>یخچال</strong> بسيار ناچيز و نامحسوس است. معمولا تزریق گاز مي بایست به حدي باشد كه اگر انگشت خيس خود را به 36 سانتي متري لوله خروجي اواپریتور (كه معمولا  در اكثر <strong>یخچال</strong> ها ، از پشت كابينت خارج شده ) مماس نمایيد كاملا به آن بچسبد. در صورت مشاهده و انجام آزمایش و پي بردن به ناچيز بودن گاز ، مي بایست با آزاد ساختن لوله كور و بستن شلنگ مخصوص رابط بين كپسول گاز و كمپرسور ، به آرامي آنقدر گاز تزریق نمایيد تا سرماي مطلوب در <strong>یخچال</strong> ایجاد شود. البته تزریق گاز بحثي به مراتب پيچيده تر از مطلب ارائه شده است.
                </p>
                <p>
                    عیب 17 <br />
                    كمپرسور <strong>یخچال</strong> بي وقفه در حال كار است اما اتومات نمي كند و در <strong>یخچال</strong> سرما وجود ندارد.
                    علت : <br>
                    موتور الكتریكي سالم است اما كمپرسور معيوب شده. <br>
                    تعمیر : <br>
                    كمپرسور را در حالت جدا از <strong>یخچال</strong> به برق متصل سازید و اگر مشاهده شد كه قدرتي جهت كمپرس ندارد و لوله رفت آن فشار انگشت را دفع نمي سازد و به راحتي مسدود مي شود كمپرسور معيوب شده و باید تعویض شود.
                </p>
                <p>
                    عیب 18 <br />
                    كمپرسور <strong>یخچال</strong> بي وقفه در حال كار است اما اتومات نمي كند و در <strong>یخچال</strong> سرما وجود ندارد. <br>
                    علت : <br>
                    كندانسور به دیوار چسبيده است و یا فاصله اش با دیوار بسيار ناچيز است. <br>
                    تعمیر : <br>
                    نقش عمده و اهميت زیادی كه كندانسور در سرما سازي دارد به طور مفصل بیان شد. استاندارد فاصله ی کندانسور از دیوار 26 سانتی متر است کاهش فاصله سرمای تولید شده را کم می کند. متاسفانه به دلیل این که فضایی از آشپزخانه با این کار اشغال می شود معمولا مورد توجه قرار نمی گیرد.
                </p>
                <p>
                    عیب 19 <br />
                    كمپرسور <strong>یخچال</strong> بي وقفه در حال كار است اما اتومات نمي كند و در <strong>یخچال</strong> سرما وجود ندارد. <br>
                    علت : <br>
                    فن معيوب شده است. <br>
                    تعمیر: <br>
                    سيم هاي رابط فن را جدا می کنیم، توسط یک كابل دیگر ولتاژ 220 ولت را مستقيما  به آن اعمال می کنیم. اگر فن شروع بكار كرد، یعنی برق به فن نمي رسد. اگر فن عكس العملي نشان نداد آن را از شاسي جدا نموده به مطالب ذكر شده در عيب یابي موتور هاي الكتریكي رجوع کنید و عیب را یافته و آن را برطرف کنید. ضمنا لازم به ذکر است، در بعضي از انواع <strong>یخچال</strong> براي خنك شدن كندانسور و بعضا موتور از دمنده یا همان فن استفاده مي شود. خرابي فن موجب افزایش دما در این قطعات می شودکه باعث می شود به جای تولید سرما گرما تولید شود
                </p>
                <p>
                    عیب 20 <br />
                    قبل از آن كه <strong>یخچال</strong> شروع به كار كند، صداي به خصوصي شنيده شده و از كار مي افتد. <br>
                    علت : <br>
                    برق ضعيف است. <br>
                    تعمیر : <br>
                    اگر <strong>یخچال</strong> فقط در ساعات اولیه شب دچار مشکل شود و در باقی طول روز شروع به کار خوبی داشته باشد، مشکل از ضعیف بودن برق است. برای اطمینان از قسمت ولتاژ آوامتر و یا ولت متر استفاده کنید و اختلاف ولتاژ را بررسی کنید. برای این مشکل بهترین راه حل استفاده از ترانس تقویت ولتاژ است که در منازل مورد استفاده قرار می گیرد.
                </p>
                <p>
                    عیب 21 <br />
                    قبل از آن كه <strong>یخچال</strong> شروع به كار كند، صداي خاصی شنيده شده و از كار مي افتد. <br>
                    علت : <br>
                    اورلود معيوب است. <br>
                    تعمیر : <br>
                    اگر مشکل قبلی وجود نداشته باشد یعنی در تمام طول روز ولتاژ برق طبیعی باشد. خرابی اورلود می تواند یکی از دلایل آن باشد. ساده ترین کاری که میتوانیم انجام دهیم این است که اورلود را از مدار الکتریکی
                    ساده ترین روش جهت حصول اطمينان آن است كه اورلود را از مدار الكتریكي<strong>یخچال</strong> خارج کنیم، سپس بر سر راه مدار <strong>یخچال</strong> یك آمپر متر قرار دهيم. اگر جریان دریافتي <strong>یخچال</strong> طبيعي باشد شماره درج شده بر روی اورلود را بررسی کرده و اورلود را با شماره سریال مشابه خودش تعویض می نماییم. شماره هاي مذكور بر روي اورلود ها ، بيانگر جریان و توان مصرف كننده است كه اورلود سري با آن قرار مي گيرد.
                </p>
                <p>
                    عیب 22 <br />
                    قبل از آن كه <strong>یخچال</strong> شروع به كار كند، صداي خاصی شنيده شده و از كار مي افتد. <br>
                    علت : <br>
                    نيم سوز بودن موتور. <br>
                    تعمیر : <br>
                    اگر در بررسی و اندازه گيري جریان بدون اورلود به دریافت جریان بیشتر از حد مطلوب توسط موتور برخورد کنیم، یكي از علت های آن مي تواند اتصال کلاف یا حلقه در سيم پيچ هاي استاتور باشد. به استاتوري كه دچار این مشكل شده، استاتور نيم سوز مي گویند. این استاتور را باید تجدید سيم پيچي کنیم.
                </p>
                <p>
                    عیب 23 <br />
                    قبل از آنكه <strong>یخچال</strong> شروع به كار كند، صداي خاصی شنيده شده و از كار مي افتد. <br>
                    علت : <br>
                    مسدود بودن مسير گردش گاز در <strong>یخچال</strong>  <br>
                    تعمیر : <br>
                    گاهی اوقات  زمان عوض کردن جای <strong>یخچال</strong>، بخشی از مسير گردش گاز مثل كندانسور، با اشياء اطراف و یا دیوار طوری برخورد مي كند كه در نتيجه آن، بخشی از مسير گردش گاز مسدود مي شود. بوجود آوردن سد، در مسیر عبور گاز سرما ساز، عملكرد كمپرسور را مختل می کند و در نتيجه به موتور الكتریكي كمپرسور فشار وارد شده و جریان اضافي مي كشد. <br>
                    اورلود متوجه جریان اضافه بار شده و همواره با آغاز حركت كمپرسور، اورلود این جریان اضافه را از مدار خارج می کند و این عيب بوجود مي آید.
                    گاهی اوققات می توان مي توان محل آسيب دیده برا به وسیله ی دست به گونه اي حالت دهیم كه گاز از آن نقطه عبور نماید. اگر با دست قابل رفع نباشد باید با جوشکاری آن نقطه را از سایر لوله ها جدا کنیم و لوله ای دیگر به همان اندازه را جایگزین آن کنیم و مجددا آن را شارژ گاز کنیم.
                </p>
                <p>
                    عیب 24 <br />
                    قبل از آنكه <strong>یخچال</strong> شروع به كار كند، صداي خاصی شنيده شده و از كار مي افتد. <br>
                    علت : <br>
                    خرابي رله استارت <br>
                    تعمیر: <br>
                    در مقالات قبلی به نقش رله استارت <strong>یخچال</strong>  اشاره شد. همانطور که گفتیم به كمك رله براي مدت کوتاهی سيم پيچ استارت وارد مدار می شود و بعد از راه اندازي روتور، از مدار خارج مي شود. اگر رله در ورود سيم پيچ كمكي به مدار، تعللي داشته باشد، موتور به كمك سيم پيچ اصلي به راه نمي افتد و بر اثر جریان اضافي كه مي كشد، اورلود مدار را قطع خواهد نمود. براي آزمایش رله استارت بهتر است موتور را مستقيما به برق متصل نمایيم. مداري مانند (شكل فوق ) ایجاد نمایيد و به محض بستن كليد b1 ، شستي b2 را براي یك لحظه به طرف پایين فشار داده و رها كنيد بدین وسيله استارت براي چند ثانيه وارد مدار و سپس خارج مي شود. اگر موتور به راه افتاد و كمپرسور شروع به كار کرد به علاوه اورلود عكس العملي را بروز نداد، استارت را با مشابه خودش تعویض نمایيد.
                </p>
                <p>
                    عیب 25 <br />
                    صداي <strong>یخچال</strong> در هنگام كار غير عادي و تا حدودي زیاد است. <br>
                    علت : <br>
                    <strong>یخچال</strong> كاملا تراز قرار نگرفته است. <br>
                    تعمیر : <br>
                    اگر <strong>یخچال</strong> کاملا  تراز در ای خود قرار نگرفته باشد، روتور در حال چرخش درون موتور دچار مشكل می شود و صداي زیادي بوجود مي آورد. براي رفع عيب، محل استقرار <strong>یخچال</strong> را کاملا  تراز کنید. مي توان به جاي تراز از یك ليوان آب استفاده كرد.
                    لیوان را روی <strong>یخچال</strong>  قرار دهید و به راحتی تراز بودن <strong>یخچال</strong> را برسی کنید. اگر تراز نباشند می توانید پایه های چوبی نازک برای این کار در نظر گرفته و آماده داشته باشید و با قرار دادن بر زیر پایه های <strong>یخچال</strong>
                    آن را به حالت تراز در بیاورید.
                </p>
                <p>
                    عیب 26 <br />
                    صداي <strong>یخچال</strong> در هنگام كار غير عادي و تا حدودي زیاد است. <br>
                    علت : <br>
                    موتور فن دچار مشكل شده است. <br>
                    تعمیر : <br>
                    همان طور كه قبلا  گفته شد در بعضي از انواع <strong>یخچال</strong>، براي خنك شدن كندانسور و یا موتور از فن استفاده مي شود با برخورد فن و سيم هایي كه از كلاف اصلي جدا شده اند، خرابي یاتاقان هاي فن، شل شدن اتصالاتي كه فن را به شاسي متصل كرده است صداي فن شدید مي شود. مورد را پیدا کنید و آن را رفع کنید تا صداي <strong>یخچال</strong> در حال كار كاهش یابد.
                </p>
                <p>
                    عیب 27 <br />
                    صداي <strong>یخچال</strong> در هنگام كار غير عادي و تا حدودي زیاد است. <br>
                    علت : <br>
                    اتصالات موتور (كمپرسور ) به شاسي شل شده است<br>
                    تعمیر : <br>
                    تست کنید که با دست میتوانید به راحتي كمپرسور را در محلی که قرار گرفته است حركت دهید، اگر اینگونه باشد باید اتصالات موتور به شاسي را بررسی کنید و در صورت لزوم، پيچ و مهره هاي مربوطه را محكم کنید.
                </p>
                <p>
                    عیب 28 <br />
                    صداي <strong>یخچال</strong> در هنگام كار غير عادي و تا حدودي زیاد است. <br>
                    علت : <br>
                    موتور معيوب است <br>.
                    تعمیر : <br>
                    با وجود تراز بودن <strong>یخچال</strong> در محل استقرار و یا بررسي سایر موارد، گاهی  صداي زیاد از خود كمپرسور است كه مي تواند به خاطر بروز یك مشكل مكانيكي ایجاد شود. باید پوسته كمپرسور جدا شود و قطعات مكانيكي سرویس شده و پس از جوشكاري پوسته كمپرسور، عمليات تخليه هوا از لوله كور و شارژ گاز تكرار شود. اما در بعضي موارد كمپرسور قابل تعمير نيست و مجبوریم آن را تعویض کنیم. <br>
                </p>
                <p>
                    عیب 29 <br />
                    بدنه <strong>یخچال</strong> برق دارد<br>
                    علت : <br>
                    موتور اتصال بدنه دارد. <br>
                    تعمیر : <br>
                    بیشتر مواقع، برق دار بودن <strong>یخچال</strong>،  به دلیل اتصال بدنه موتور است كه گاهی  با ارت نمودن <strong>یخچال</strong> از بین مي رود و در  برخی موارد، اگر ارت را همزمان با زدن دو شاخه <strong>یخچال</strong> به پریز ببندیم، فيوز منزل قطع مي شود. در مورد دوم موتور مي بایست کاملا  تعمير شود یعنی آن را تجدید سيم پيچي کنیم و یا تعویض کنیم.
                </p>
                <p>
                    عیب 30 <br />
                    بدنه <strong>یخچال</strong> برق دارد. <br>
                    علت : <br>
                    ترموستات اتصال بدنه دارد. <br>
                    تعمیر : <br>
                    رابط هاي ترموستات را از آن جدا کنید، با دقت ترموستات را توسط چراغ سري آزمایش کنید. براي این آزمایش مي توانيد از اهم متر استفاده كنيد. ترموستات معيوب باید تعویض شود.
                </p>
                <p>
                    عیب 31 <br />
                    بدنه <strong>یخچال</strong> برق دار است.
                    علت 31 -سر پيچ لامپ درون <strong>یخچال</strong> اتصال بدنه دارد.
                    رفع عيب 31 -اگر فاز مستقيما به سر پيچ برود و نول را از ميكروسوئيچ عبور دهد، احتمال اتصال بدنه سر پيچ هم وجود دارد كه مي توانید رابط هاي سر پيچ را جدا کنید و به وسیله ی اهم متر آن را مورد آزمایش قرار دهید. علت اصلي اتصال بدنه سر پيچ را بيابيد و مشكل را رفع کنید.
                </p>
                <p>
                    عیب 32 <br />
                    بدنه <strong>یخچال</strong> برق دار است. <br>
                    علت : <br>
                    سيم هاي رابط معيوب شده اند. <br>
                    تعمیر : <br>
                    پس از بررسي قطعات الكتریكي <strong>یخچال</strong> مانند موتور – ترموستات – لامپ - المنت دیفراست و... بهتر است سيم بندي <strong>یخچال</strong> را تعویض کنید تا اتصال بدنه كامل از بین برود.
                </p>
                <p>
                    عیب 33 <br />
                    مواد درون <strong>یخچال</strong> منجمد شده و سرما بيش از حد زیاد است. <br>
                    علت : <br>
                    ترموستات اتومات نمي كند. <br>
                    تعمیر : <br>
                    به عيب هاب مربوط به <strong>یخچال</strong> اتومات نمي كند رجوع کنید.
                </p>
                <p>
                    عیب 34 <br />
                    مواد درون <strong>یخچال</strong> منجمد شده و سرما بيش از حد زیاد است. <br>
                    علت : <br>
                    ترموستات تنظيم نيست. <br>
                    تعمیر : <br>
                    ترموستات را طوری تنظيم کنید كه محل اتوماتش متناسب با عدد تنظيم شده توسط ولوم باشد. برخلاف چیزی که به نظر می رسد، برای این کار باید از یک تعمیر کار مجرب کمک بگیرید چرا که تنظيم ترموستات به تبحر زیادي نياز دارد.
                    عيب35 -مواد درون <strong>یخچال</strong> منجمد شده و سرما بيش از حد زیاد است. <br>
                    علت : <br>
                    گاز بيش از حد تزریق شده<br>
                    رفع عيب 35 –اگر در هنگام شارژ گاز بيش از حد گاز تزریق شود، عيب 33  اتفاق میافتد وعلاوه بر آن لوله برگشت نيز منجمد مي شود كه موجب ریزش قطرات آب از ذوب یخ هاي این لوله در پشت <strong>یخچال</strong> می شود. لازم است مقداري از گاز <strong>یخچال</strong> به وسيله آزاد کردن لوله كور، رها شود سپس مجددا لوله كور را مسدود  کرده و جوشكاري می کنیم.
                </p>
                <p>
                    عیب 35 <br />
                      با باز شدن درب <strong>یخچال</strong>، فيوز منزل قطع مي شود. <br>
                    علت : <br>
                    سيم بندي لامپ روشنایي <strong>یخچال</strong> اشتباه است. <br>
                    تعمیر : <br>
                    مدار را بررسي و اصلاح نمایيد.
                </p>
                <p>
                    عیب 37 <br />
                     با باز نمودن درب <strong>یخچال</strong> فيوز منزل قطع مي شود. <br>
                    علت : <br>
                    پایه هاي درون سر پيچ لامپ به یكدیگر چسبيده اند. <br>
                    تعمیر : <br>
                    این عيب معمولا به هنگام تعویض لامپ اتفاق میافتد. با محكم کردن بيش از حد لامپ درون سر پيچ، فاصله پایه ها به اندازه اي نزدیك مي شود كه قوس الكتریكي بین آنها، باعث قطع فيوز مي شود. یخچال را از برق جدا کنید و لامپ را باز نموده و پایه هاي درون سر پيچ را از یكدیگر جدا سازید، سپس لامپ را به آرامي ببندید.
                </p>

                <div class="items-post">
                    <div>

                        <p>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </article>

</div>
